a{
    color: white;
   
    }

    h1{
        font-family: 'Amatic SC', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Karla', sans-serif;
      }
   h2{
    text-align: center;
   }

   body{
    background-color:#FFEC8E;
    font-family: 'Karla', sans-serif;
}

#titulo{
    display:flex; 
    align-items: center;
    justify-content: center;
}

p{
    text-align:center;
}

a:hover {

    background-color: black; 
   
   transition: 0.5s;
   
   opacity: 0.7;
   
   }