body{
  background-color: black;

}

a{
color:aliceblue;
font-family: 'Overpass', sans-serif;

}
h1{
    color:white;
}

h2{
    color:white;
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Overpass', sans-serif;
    

    background-color:black; 
    /*align-items: center;*/
   
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;

  
    margin: 35px 0 20px 0 !important;



}



.img-container{
    text-align: center;
}

.portfolio {
    color:white;  
    background: linear-gradient(to right, #96acf5, #14757c); 
    text-align: center;
    font-family: 'Borel', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Lobster Two', cursive;
    padding: 5px;
    border-radius: 180px;
    box-shadow: 0px 15px 10px rgb(37, 37, 37)
}

#cadastro{
    text-align: center;
}

h3{
    color:white;
}

a:hover {

 background-color: #7eb2cf; 

transition: 0.5s;

opacity: 0.7;

}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 15em
}
